<h1>Confirmation de email</h1>

<p>
    Confirmez votre email en cliquant sur ce lien: <a href="{{ signedUrl }}">Confirmer</a>. <br>
    Ce lien va expirer dans {{ expiresAtMessageKey|trans(expiresAtMessageData, 'VerifyEmailBundle') }}.
</p>