{% extends 'base.html.twig' %}

{% block title %}se connecter!{% endblock %}

{% block body %}
    {% block navBar %}{% endblock %}

    <section class="reset-pass">
        <h2>Réinitialisation de mot de passe</h2>
        <div class="form-control">
            <div class="row">
                <div class="mb-3 error-message-reset-pass">
                    {{ form(resetPassForm) }}
                </div>
            </div>
        </div>
    </section>


    <style>

        .reset-pass {
            width: 500px;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%,-50%);
        }

        .reset-pass h2{
            font-size:30px;
            margin:auto;
            text-align: center;
            margin-bottom:50px;
            font-weight:400;
        }

        .reset-pass label{
            margin-top:20px;
        }
        .error-message-reset-pass ul li {
            color:red;
        }

        .reset-pass-btn{
            margin:auto;
            margin-top:20px;
            display:block;
        }

        footer{
            display: none;
        }
    </style>
{% endblock %}