{% extends 'base.html.twig' %}

{% block title %}se connecter!{% endblock %}

{% block stylesheets %}
	{{parent()}}
	<link rel="stylesheet" href="{{ asset('dist/style/annexes/loginStyle.css') }}">
{% endblock %}

{% block body %}
    {% block navBar %}{% endblock %}

    <section class="reset-pass">
        <h2>Réinitialisation de mot de passe</h2>
        <div class="form-control">
            <div class="row">
                <div class="mb-3 error-message-reset-pass">
                    {{ form(requestPassForm) }}
                </div>
            </div>
        </div>
    </section>

{% endblock %}